<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" [routerLink]="['/']"></a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="col-lg-6">
        <h1 class="text-bold">WElCOME</h1>
        <h1 class="text-bold">The Best Casino Games</h1>
        <p>
          PXBET Gaming Entertainment is incorporated in the Philippines and
          holds a legal license for local government licenses.
        </p>
        <p>
          All games we launch must undergo rigorous review and monitoring by the
          Philippine Gaming Council, as well as through Macau and The GLI
          laboratory verification by the three-party impartial verification unit
          must provide customers with a credit guarantee and a fair and safe
          game environment as well as a refreshing visual sensory experience.
        </p>

        <div class="d-flex flex-column flex-lg-row align-items-center my-5">
          <div>
            <a
              href="assets/res/PXBET.mobileconfig"
              role="button"
              class="btn btn-outline-light mb-4 me-lg-3"
              download
            >
              <i class="fab fa-apple"></i>
              IOS Download
            </a>
          </div>
          <div>
            <a
              href="assets/res/PXBET.apk"
              role="button"
              class="btn btn-outline-light mb-4"
              download
            >
              <i class="fab fa-android"></i>
              Android Download
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-lg-5">
        <img src="assets/images/img1.png" width="100%">
      </div>
    </div>
  </div>
</header>
